page-registration {
	ion-content {
		background-image: url('../../assets/imgs/login-background.jpeg');
		ion-card {
			position: absolute;
			top: 6%;
		}
	}
	.errors {
		color: red;
		margin-top: 0.8rem;
	}

	ion-input.ng-invalid.ng-touched {
			border-bottom: 1px solid red;
	}

	ion-input.ng-touched.ng-valid {
		border-bottom: 1px solid greenyellow;
	}

	.registration__label {
		font-size: 2rem !important;
	}

	.registration__col_signup {
		text-align: center;
	}

	.registration__col_signin {
		text-align: center;
	}
}
