page-registration {
	ion-content {
		background-image: url('../../assets/imgs/login-background.jpeg');
		ion-card {
			position: absolute;
			top: 6%;
		}
	}

	.registration__label {
		font-size: 2rem !important;
	}

	.registration__col_signup {
		text-align: center;
	}

	.registration__col_signin {
		text-align: center;
	}
}
