ka-bet {
    .goals {
        text-align: right;
        border: none;
        font-size: 3rem;
    }
    ion-input input {
        text-align: right;
        border: none;
        font-size: 3rem;
    }
    .input__goals {
        width: 2rem;
    }

    .button__done {
        color: color($colors, secondary);
    }

    .button__cancel {
        color: color($colors, danger);
    }

    .participant {
        font-size: 2rem;
    }
}
