<ion-card>
    <ion-item>
        <ion-avatar item-start>
            <img [src]=bet.participant.avatar>
        </ion-avatar>
        <div>
            <p>{{bet.participant.name}}</p>
            <form [formGroup]="formGroup">
                <div>
                    <input ion-input
                            clear
                            class="goals"
                            [readonly]="!bet.editable"
                            formControlName="localGoals"
                            placeholder="0"
                            type="number">
                    -
                    <input ion-input
                            class="goals"
                            [readonly]="!bet.editable"
                            formControlName="visitorGoals"
                            placeholder="0"
                            type="number">
                </div>
                <p>{{bet.note}}</p>
            </form>
        </div>
    </ion-item>
    <div>
            <ion-row>
                    <ion-col>
                        <button ion-button icon-start clear small>
                            <ion-icon name="thumbs-up" small></ion-icon>
                            <div>{{ bet.likes || '0'}} {{ 'BETTING_LIST.BETS.LIKES' | translate | uppercase }} </div>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button icon-start clear small>
                            <ion-icon name="text"></ion-icon>
                            <div>{{ bet.comments?.length || '0' }} {{ 'BETTING_LIST.BETS.COMMENTS' | translate | uppercase }}</div>
                        </button>
                    </ion-col>
                </ion-row>
            </div>
</ion-card>
