page-login {
	ion-content {
		background-image: url('../../assets/imgs/login-background.jpeg');
		ion-card {
			position: absolute;
			top: 17%;
		}
	}

	ion-input.ng-invalid.ng-dirty {
			border-bottom: 1px solid red;
	}

	ion-input.ng-valid {
		border-bottom: 1px solid greenyellow;
	}

	.login__label {
		font-size: 2rem !important;
	}

	.login__col_login {
		text-align: center;
	}

	.login__col_signup {
		text-align: center;
	}
}
